@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next, .swiper-button-prev {
  color: white; /* Customize arrow button color */
}

.swiper-pagination-bullet {
  background: white; /* Customize pagination bullet color */
}

.swiper-pagination {
  top: 10px; /* Position pagination at the top */
  bottom: auto; /* Disable default bottom positioning */}


  body{
    background-color: #141414;
  }